@model OnlineRezervacijaBioskopskihKarata.Models.Projection

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>{{translation.delete_projection_header}}</h2>

<h5>{{translation.are_you_sure_delete}}</h5>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            {{translation.projection_name}}
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        {{translation.start_time}}
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartTime)
    </dd>

    <dt>
        {{translation.end_time}}
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndTime)
    </dd>

    <dt>
        {{translation.projection_date}}
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Date)
    </dd>

    <dt>
        {{translation.ticket_price}}
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TicketCost)
    </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="{{translation.delete_projection}}" class="btn btn-primary" /> |
            @Html.ActionLink("{{translation.back_to_projections_list}}", "Index")
        </div>
    }
    </div>
