@model OnlineRezervacijaBioskopskihKarata.Models.Projection

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>{{translation.projection_details}}</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            {{translation.projection_name}}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            {{translation.start_time}}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            {{translation.end_time}}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            {{translation.projection_date}}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            {{translation.ticket_price}}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketCost)
        </dd>
        <dt>
            {{translation.image}}
        </dt>
        <dd>
            @if (Model.Image != null)
            {
            <img src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Image))" alt="@Model.Name" style="max-height:300px;" />

            }

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("{{translation.edit_projection}}", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("{{translation.back_to_projections_list}}", "Index")
</p>
