@model IEnumerable<OnlineRezervacijaBioskopskihKarata.Models.Projection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>{{translation.manage_projections}}</h2>


<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                {{translation.projection_name}}
            </th>
            <th>
                {{translation.start_time}}
            </th>
            <th>
                {{translation.end_time}}
            </th>
            <th>
                {{translation.projection_date}}
            </th>
            <th>
                {{translation.ticket_price}}
            </th>
            <th>
                {{translation.actions}}
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketCost)
                </td>
                <td>
                    @Html.ActionLink("{{translation.edit}}", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("{{translation.details}}", "Details", new { id = item.Id }) |
                    @Html.ActionLink("{{translation.delete}}", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>
<br />
<p>
    @Html.ActionLink("{{translation.add_new_projection}}", "Create")
</p>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "paging": false,
                "info": false
            });
        });
    </script>
}
@section styles{
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
    }

