@model OnlineRezervacijaBioskopskihKarata.Models.ViewTicketsViewModel
@{
    ViewBag.Title = "My tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>{{translation.reservations_made_in_transaction}}: @Model.TransactionId</h2>
<b>{{translation.take_picture_or_print}}</b>
<br />
<br />

@foreach(var res in Model.Reservations)
{

    
    <div class="card bg-light mb-3" style="width: 900px">
        <div class="card-header" style="font-weight:300; font-size:12pt;">@res.TicketGuid</div>
        <div class="card-body">
            <h5 class="card-title" style="font-weight:500; font-size:16pt;">@Model.Projection.Name</h5>
            <hr />
            <p class="card-text" style="font-weight:400; font-size:14pt;">
                {{translation.projection_date}}: @Model.Projection.Date<br />
                {{translation.projection_starts_at}}: @Model.Projection.StartTime   {{translation.and_ends_at}}: @Model.Projection.EndTime<br /><br />

                {{translation.seat}} @res.Column {{translation.row}} @res.Row

            </p>
        </div>
    </div>

}

<button class="btn btn-primary" onclick="document.location.href='/'">{{translation.back_to_index}}</button>
