<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    @RenderSection("styles", required: false)

</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="~/Content/webticketLogo.png" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        @Html.ActionLink("{{translation.navbar_home}}", "Index", "Home", new { area = "" }, new { @class = "nav-link active" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("{{translation.navbar_projections}}", "AllProjections", "Projections", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("{{translation.find_tickets}}", "FindTickets", "Projections", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("{{translation.navbar_manage_projections}}", "Index", "Projections", new { area = "" }, new { @class = "nav-link" })
                        </li>
                    }


                    </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item nav-link" ng-click="chooseLanguage('serbian')">
                        <img class="lang-img" style="border:1px solid black; border-radius:5px;" src="~/Content/srbFlag.jpg" />
                    </li>
                    <li></li>
                    <li class="nav-item nav-link" ng-click="chooseLanguage('english')">
                        <img class="lang-img" style="border:1px solid black; border-radius:5px;" src="~/Content/engFlag.jpg" />
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container main-body">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


</body>

</html>
@Scripts.Render("~/bundles/jquery")
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-cookies/1.8.2/angular-cookies.min.js" integrity="sha512-5MlJcQrhy663S1tAEEQGHzoqqdsCIoFYA2ZLajvSeZl4uVxbBvive9hqpiIqHl3CEQfe7WlI/S1lbjsdoEBnRA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.8.2/angular-resource.min.js" integrity="sha512-heHqDjSgQ/iDnrNQqj9WFFYIS9nKYnWwb3VndZOvW1riVCWN9gsr98JEptFqmBl8Ru+3ubuGcHCYe2RJnA2PnA==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@Html.Partial("Translations")
<script>

    var app = angular.module('myApp', ['ngCookies', 'ngResource']);
    var lang = 'english';
    //Translation service
    app.service('translationService', function ($resource) {
        this.getTranslation = function ($scope, language) {
            if (language == "serbian")
                $scope.translation = srb;
            else if (language == "english")
                $scope.translation = eng;

        };
    });

    app.controller('myCtrl', ['$scope', '$resource', '$cookies', 'translationService', function ($scope, $resource, $cookies, translationService) {
        //if no language cookie exists, make it
        if ($cookies.get('lang') == undefined)
            $cookies.put("lang", "english", ["/"]);
        //initial lang setup
        lang = $cookies.get('lang');

        translationService.getTranslation($scope, lang);

        //!!!!!FUNCTIONS!!!!!
        $scope.btnReserve = function () {
            document.location.href = "/Projections/AllProjections";
        }
        $scope.chooseLanguage = function (language) {
            $cookies.put("lang", language, ["/"]);
            lang = language;
            translationService.getTranslation($scope, lang);
        }

    }]);

</script>

@RenderSection("scripts", required: false)